@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Courier Prime', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


header {
    width: 700px;
}

    header #Logo {
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
    }

        header #Navigator ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            list-style: none;
        }

            header #Navigator .link {
                border-bottom: 1px solid black;
            }

                /* header #Navigator .link:hover {
                    border-bottom: 1px solid white;
                } */

main {

    /* Debug */
    /* border: 1px solid red; */
}

main #pagetitle {
    margin: 1em;
    text-align: center;
}

main #container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;

    /* Debug */
    /* border: 1px solid gold; */
}

main .article {
    margin: 1em;
    padding: 1em;

    border: 1px solid black;
}

    main .article:hover {
        margin: 1em;
        padding: 1em;

        border: 1px solid white;
    }



/* Ye 🔥 */
.ye img {
    position: absolute;
    top: 70%;
    left: 1%;
    width: 220px;
    transform: scaleX(-1);
    animation: bell 2s infinite;
}

@keyframes bell {
    0% { -webkit-transform: rotateZ( 5deg ); }
    50% { -webkit-transform: rotateZ( -5deg ); }
    100% { -webkit-transform: rotateZ( 5deg ); }

}