@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Courier Prime', monospace;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

header {
    width: 700px;
}

    header #Logo {
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    header #Navigator ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        list-style: none;
    }

        header #Navigator .link {
            border-bottom: 1px solid black;
        }

            /* header #Navigator .link:hover {
                border-bottom: 1px solid white;
            } */

main {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 450px;
    margin: 3em;
    align-items: center;
    justify-content: center;
}

main .Socials {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

    main a {
        text-decoration: none;
    }

        main .github {
            text-decoration: none;
            color: white;
            border-bottom: 2px solid blue;
        }
            main .github:hover {
                color: blue
            }


        main .twitter {
            text-decoration: none;
            color: white;
            border-bottom: 2px solid dodgerblue;
        }
            main .twitter:hover {
                color: dodgerblue
            }


        main .instagram {
            text-decoration: none;
            color: white;
            border-bottom: 2px solid purple;
        }
            main .instagram:hover {
                color: purple
            }


        main .steam {
            text-decoration: none;
            color: white;
            border-bottom: 2px solid grey;
        }
            main .steam:hover {
                color: grey
            }


        main .spotify {
            text-decoration: none;
            color: white;
            border-bottom: 2px solid green;
        }
            main .spotify:hover {
                color: green;
            }


    main .Image {
        /* background-image: url('/images/me.jpg'); */
        /* border: 1px solid white; */
        background-size: cover;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        align-self: center;
    }


    main .Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
    }

footer {
    position:fixed;
    bottom:0;
    left:0;
}

footer .Footer {
    width: 100vw;
    display: flex;
    height: 4em;
    font-size: 18px;
    background-color: black;
    justify-content: center;
    align-items: center;
}


/* Carti 🔥 */
.carti img {
    position: absolute;
    top: 70%;
    left: 70%;
    width: 320px;
    transform: rotate(180deg);
    animation: bell 2s infinite;
}

@keyframes bell {
    0% { -webkit-transform: rotateZ(-4deg); }
    50% { -webkit-transform: rotateZ( 5deg); }
    100% { -webkit-transform: rotateZ(-4deg); }

}